{% extends 'base.html' %}

{%block head%}
<title>Task Maker</title>
{%endblock%}


{%block body%}
<div class="content">
    <h1 style="text-align:center ;">Task Master</h1>
    <table>
        <tr>
            <th>Tasks</th>
            <th>Importance and stuff</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {%for task in task%}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.date_created.date()}}</td>
                
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {%endfor%}
    </table>
    
<form action='/' method='POST'>
    <h3>Level of Importance(Very,Can wait,In between)</h3>
    <p><input type="text" name="deadline"></p>
    <h3>Task</h3>
    <p><input type="text" name="content" id="content"></p>
    <p><input type="submit" value="Add task"></p>
</form>


</div>
{%endblock%}